<footer class="page-footer">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <div class="content">
                    <p>
                        <small>
                            <span>Written by</span>
                            <a target="_blank" href="http://jeffwayne.io/">jeffrey</a>
                            <span> / Created using </span>
                            <a target="_blank" href="https://pages.github.com/">github pages</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
